<h1>Stupid Coaching</h1>
<div class="quote-box">
<p>
<%= @question %>
</p>
<em>-You</em>
</div>
<div class="quote-box response">
<p>
<%= @coach_response %>
</p>
<em>-Your coach</em>
</div>
<p><%= link_to "Ask a new question", ask_path %></p>
